// Colors
$colorPrimary       : #0D0D0D;
$colorSecondary     : #00D380;
$colorUrl           : #FFFF00;
$colorButton        : #FFD600;

$textColor      : $colorSecondary;

// Typography
$baseFont :  'VT323', monospace;;
$secondaryFont: serif;
