body{
    background: #000 url(../img/bg.png) no-repeat;
    background-size: cover;
}

.g-content{
    min-height: 85vh;
}

.g-wrapper{
    max-width: 1193px;
    padding: 0 20px;
    margin: auto;
    position: relative;
    min-height: 1px;
}

.g-banner{
 height: 173px;
 padding: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 background: url('../img/Banner.svg') repeat-x;  
 @include respond-below(md){
     height: 130px;
 } 
 .h1{
     color: #E6EBF2;
     font-size: 54px;
     text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
     text-align: center;
     @include respond-below(md){
         line-height: 1.2;
         font-size:40px;
     }
     @include respond-below(xs){
         font-size: 32px;
     }
     span{
         display: block;
     }
 }
}

.g-container{
    padding-top: 44px;
    padding-bottom: 57px;
}

.t-center{
    text-align: center;
}

.btn{
    display: inline-block;
}

.btn-yellow{
    display: inline-block;
    background: $colorButton;
    position: relative;
    text-align: center;
    height: 51px;
    text-transform: uppercase;
    color: #000;
    padding: 0 35px;
    font-size: 36px;
    line-height: 1.4;
    @include on-event{
        text-decoration: none;
        color: #000;
    }
    &::before{
        content: "";
        position: absolute;
        background: url(../img/button-edge.png) no-repeat center;
        height: 51px;
        width: 18px;
        left: -17px;
    }
    &::after{
        content: "";
        position: absolute;
        background: url(../img/button-edge.png) no-repeat center;
        height: 51px;
        width: 18px;
        right: -17px;
        transform: rotate(180deg);
    }
}

.btn-black{
    box-shadow: inset 2px 2px 1px rgba(255, 255, 255, 0.8), inset -2px -2px 1px rgba(0, 0, 0, 0.8);
    border-radius: 1px;
    background: $colorPrimary;  
    min-height: 35px;
    display: inline-block;
    text-align: center;
    color: $colorSecondary;
    font-size: 18px;
    line-height: 2;
    padding: 0 30px;
    @include on-event{
        color: $colorSecondary;
        text-decoration: none;
        background: #000;
    }
}