.g-footer{
    text-align: center;
    padding: 30px 0;
}

.g-footer-credits{
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    a{
        color: #fff;
    }
}